div.component-container {

  table {
    width: 100%;

    thead {

      tr:nth-of-type(1) {
        span {
          position: relative;
          top: 2px;

          &.circle {
            height: 10px;
            min-width: 10px;
            background-color: #0B1F42;
            border-radius: 50%;
            display: inline-block;
          }

          &.quantity {
            font-weight: lighter;
          }
        }
      }

      tr:nth-of-type(2) {
        font-size: 14px;
        line-height: 48px;
        color: #0B1F42;
      }
    }
  }
}
