div.component-container {
  table {
    border-collapse: collapse;
    position: relative;
    width: 100%;

    thead {
      background-color: #ffffff;
      position: sticky;
      top: 0;
      z-index: 999;

      tr:nth-of-type(1) {
        span {
          position: relative;
          top: 2px;
          &.circle {
            height: 10px;
            min-width: 10px;
            background-color: #0B1F42;
            border-radius: 50%;
            display: inline-block;
          }
          &.quantity {
            font-size: 14px;
            font-weight: lighter;
          }
        }
      }

      tr:nth-of-type(2) {
        margin-top: 14px;
        background-color: #E9ECF2;
        border-radius: 6px;
        position: relative;
        display: flex;
        font-size: 14px;
        line-height: 46px;
        color: #0B1F42;
        border: 1px solid rgba(12, 34, 72, 0.05);
        th {
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          &:not(:last-child) {
            border-right: 1px solid rgba(12, 34, 72, 0.05);
          }
        }
      }
    }

    tbody {
      tr {
        cursor: pointer;
        display: flex;
        align-items: center;
        line-height: 46px;
        transition: .5s;
        border: 1px solid #eee;
        border-top: none;
        border-radius: 6px;
        &:hover {
          background-color: #f2f2f2;
          transition: .2s;
        }
        td {
          color: #3a3a3a;
          display: flex;
          width: 100%;
          &:not(:last-child) {
            border-right: 1px solid #eeeeee;
          }
          &:last-child {
            color: #156AFB;
            mat-icon {
              cursor: pointer;
              scale: 1.2;
            }
          }
        }
      }
    }
  }
}
