<div class="component-container">
  <router-outlet></router-outlet>
  <table>
    <thead>
    <tr>
      <th colspan="4">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <h1>{{title}}</h1>
          <span class="circle"></span>
          <span class="quantity">500 professores encontrados.</span>
          <div fxFlex></div>
          <button class="generic-btn">
            <mat-icon fontIcon="filter_list"></mat-icon>
            <span>Filtrar</span>
          </button>
          <button class="stylized-btn" routerLink="new">
            <mat-icon fontIcon="person"></mat-icon>
            <span>Add Prof</span>
          </button>
        </div>
      </th>
    </tr>
    <tr>
      <th>#</th>
      <th>lorem</th>
      <th>lorem</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>6</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>7</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>8</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>9</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>10</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>6</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>7</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>8</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>9</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    <tr>
      <td>10</td>
      <td>ipsum</td>
      <td>ipsum</td>
      <td>
        <mat-icon fontIcon="edit_note"></mat-icon>
      </td>
    </tr>
    </tbody>
  </table>
</div>
