<form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="24px">

  <div class="container" fxLayout.lt-md="column" fxLayoutGap="24px">
    <mat-form-field appearance="outline" fxLayout="row">
      <mat-label>Categoria Educacional</mat-label>
      <input formControlName="name" matInput placeholder="ano" maxlength="10">
      <mat-icon matSuffix fontIcon="edit"></mat-icon>
      <mat-hint>max 10 caracteres</mat-hint>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="32px">

    <button type="button" color="accent" mat-button (click)="askForDelete()">
      <mat-icon fontIcon="delete_forever"></mat-icon>
      <span>Excluir</span>
    </button>

    <button type="submit" [disabled]="!form.valid" mat-flat-button color="primary">
      <mat-icon fontIcon="save"></mat-icon>
      <span>Salvar</span>
    </button>
  </div>

</form>
