<div class="component-container">
  <app-home-toolbar
    [actionNew]="true"
    [filter]="true"
    [changeViewOptions] = "true"
    [title]="title"
    [secondPhrase]="'Categoria Educacional'"
    [firstPhrase]="classTypes.length.toString() + ' encontrado(s)'"
  >
  </app-home-toolbar>
  <ng-container *ngIf="!listView; else listTableView">
    <div class="grid-view" fxLayout="column">
      <div class="fill"></div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id enim sollicitudin, vestibulum odio a, blandit odio. In eu purus maximus sem placerat rutrum. Aliquam egestas quis enim eget consectetur. Suspendisse non condimentum massa. Etiam velit est, elementum et blandit euismod, rhoncus sit amet sapien. Curabitur sit amet augue interdum, pellentesque metus at, placerat sapien. Curabitur ac aliquet felis, id iaculis urna. Morbi magna quam, facilisis a scelerisque a, sagittis quis enim. Donec nec rutrum elit, eu tempus turpis. Donec lacus ex, scelerisque sed posuere quis, molestie sed massa. In vel dui vitae risus vehicula scelerisque. Cras malesuada quis erat quis rhoncus. Suspendisse potenti. Praesent bibendum sagittis tristique. Aenean eleifend est vitae felis rutrum, vel mollis tortor tincidunt.

          Fusce vitae eros nibh. Cras in pulvinar enim, ac lacinia est. Aliquam fringilla dui orci, sed tincidunt diam ultrices ut. Phasellus tincidunt libero ullamcorper, euismod dolor id, mattis erat. Vestibulum vel blandit risus. Cras hendrerit maximus egestas. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus suscipit venenatis egestas. Nulla dignissim rutrum justo, sed scelerisque dolor elementum non. Pellentesque molestie, purus ut volutpat facilisis, sem libero dignissim dolor, ac hendrerit nibh turpis sit amet turpis. Donec congue diam a vehicula consectetur.

          Nulla facilisi. Nulla facilisi. Mauris metus ligula, bibendum eu vestibulum ac, venenatis sit amet dui. Nam convallis ex quis libero semper, id pellentesque mauris viverra. Cras pellentesque, lectus quis egestas dignissim, sem enim laoreet metus, sit amet porttitor ipsum purus ac velit. Nunc id pharetra sem, non euismod lectus. Suspendisse rhoncus tincidunt enim in facilisis. Praesent vitae sem libero. Sed pharetra rhoncus est. Proin auctor nunc nec sapien viverra, sit amet mattis turpis tempor.

          Fusce sagittis eleifend volutpat. Fusce ut tempor sem. Nam at lectus lacinia, bibendum augue eget, mollis arcu. Nulla tortor erat, vehicula et mattis id, ornare ac risus. Aliquam id scelerisque erat. Sed in dignissim sapien, at facilisis orci. Suspendisse potenti. Sed quis metus id nulla porta rhoncus.

          Nam nec neque eget ligula placerat mollis. Cras sollicitudin ante eros, et congue velit gravida tincidunt. Proin lobortis porttitor elit, sit amet mattis nisi. Maecenas non sapien egestas, vulputate tortor nec, hendrerit sapien. Proin consectetur, libero eu placerat laoreet, augue nulla egestas nisl, vel condimentum est ligula ac quam. Integer eu lectus cursus turpis hendrerit vehicula. Nulla imperdiet elit arcu, vitae hendrerit justo vehicula non. Integer imperdiet nisi diam, at vehicula nibh mollis sed. Nam eleifend facilisis posuere. Proin commodo justo massa, id bibendum velit facilisis ac. In pharetra nunc ac dictum suscipit. Sed nec interdum quam.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id enim sollicitudin, vestibulum odio a, blandit odio. In eu purus maximus sem placerat rutrum. Aliquam egestas quis enim eget consectetur. Suspendisse non condimentum massa. Etiam velit est, elementum et blandit euismod, rhoncus sit amet sapien. Curabitur sit amet augue interdum, pellentesque metus at, placerat sapien. Curabitur ac aliquet felis, id iaculis urna. Morbi magna quam, facilisis a scelerisque a, sagittis quis enim. Donec nec rutrum elit, eu tempus turpis. Donec lacus ex, scelerisque sed posuere quis, molestie sed massa. In vel dui vitae risus vehicula scelerisque. Cras malesuada quis erat quis rhoncus. Suspendisse potenti. Praesent bibendum sagittis tristique. Aenean eleifend est vitae felis rutrum, vel mollis tortor tincidunt.

          Fusce vitae eros nibh. Cras in pulvinar enim, ac lacinia est. Aliquam fringilla dui orci, sed tincidunt diam ultrices ut. Phasellus tincidunt libero ullamcorper, euismod dolor id, mattis erat. Vestibulum vel blandit risus. Cras hendrerit maximus egestas. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus suscipit venenatis egestas. Nulla dignissim rutrum justo, sed scelerisque dolor elementum non. Pellentesque molestie, purus ut volutpat facilisis, sem libero dignissim dolor, ac hendrerit nibh turpis sit amet turpis. Donec congue diam a vehicula consectetur.

          Nulla facilisi. Nulla facilisi. Mauris metus ligula, bibendum eu vestibulum ac, venenatis sit amet dui. Nam convallis ex quis libero semper, id pellentesque mauris viverra. Cras pellentesque, lectus quis egestas dignissim, sem enim laoreet metus, sit amet porttitor ipsum purus ac velit. Nunc id pharetra sem, non euismod lectus. Suspendisse rhoncus tincidunt enim in facilisis. Praesent vitae sem libero. Sed pharetra rhoncus est. Proin auctor nunc nec sapien viverra, sit amet mattis turpis tempor.

          Fusce sagittis eleifend volutpat. Fusce ut tempor sem. Nam at lectus lacinia, bibendum augue eget, mollis arcu. Nulla tortor erat, vehicula et mattis id, ornare ac risus. Aliquam id scelerisque erat. Sed in dignissim sapien, at facilisis orci. Suspendisse potenti. Sed quis metus id nulla porta rhoncus.

          Nam nec neque eget ligula placerat mollis. Cras sollicitudin ante eros, et congue velit gravida tincidunt. Proin lobortis porttitor elit, sit amet mattis nisi. Maecenas non sapien egestas, vulputate tortor nec, hendrerit sapien. Proin consectetur, libero eu placerat laoreet, augue nulla egestas nisl, vel condimentum est ligula ac quam. Integer eu lectus cursus turpis hendrerit vehicula. Nulla imperdiet elit arcu, vitae hendrerit justo vehicula non. Integer imperdiet nisi diam, at vehicula nibh mollis sed. Nam eleifend facilisis posuere. Proin commodo justo massa, id bibendum velit facilisis ac. In pharetra nunc ac dictum suscipit. Sed nec interdum quam.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id enim sollicitudin, vestibulum odio a, blandit odio. In eu purus maximus sem placerat rutrum. Aliquam egestas quis enim eget consectetur. Suspendisse non condimentum massa. Etiam velit est, elementum et blandit euismod, rhoncus sit amet sapien. Curabitur sit amet augue interdum, pellentesque metus at, placerat sapien. Curabitur ac aliquet felis, id iaculis urna. Morbi magna quam, facilisis a scelerisque a, sagittis quis enim. Donec nec rutrum elit, eu tempus turpis. Donec lacus ex, scelerisque sed posuere quis, molestie sed massa. In vel dui vitae risus vehicula scelerisque. Cras malesuada quis erat quis rhoncus. Suspendisse potenti. Praesent bibendum sagittis tristique. Aenean eleifend est vitae felis rutrum, vel mollis tortor tincidunt.

          Fusce vitae eros nibh. Cras in pulvinar enim, ac lacinia est. Aliquam fringilla dui orci, sed tincidunt diam ultrices ut. Phasellus tincidunt libero ullamcorper, euismod dolor id, mattis erat. Vestibulum vel blandit risus. Cras hendrerit maximus egestas. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus suscipit venenatis egestas. Nulla dignissim rutrum justo, sed scelerisque dolor elementum non. Pellentesque molestie, purus ut volutpat facilisis, sem libero dignissim dolor, ac hendrerit nibh turpis sit amet turpis. Donec congue diam a vehicula consectetur.

          Nulla facilisi. Nulla facilisi. Mauris metus ligula, bibendum eu vestibulum ac, venenatis sit amet dui. Nam convallis ex quis libero semper, id pellentesque mauris viverra. Cras pellentesque, lectus quis egestas dignissim, sem enim laoreet metus, sit amet porttitor ipsum purus ac velit. Nunc id pharetra sem, non euismod lectus. Suspendisse rhoncus tincidunt enim in facilisis. Praesent vitae sem libero. Sed pharetra rhoncus est. Proin auctor nunc nec sapien viverra, sit amet mattis turpis tempor.

          Fusce sagittis eleifend volutpat. Fusce ut tempor sem. Nam at lectus lacinia, bibendum augue eget, mollis arcu. Nulla tortor erat, vehicula et mattis id, ornare ac risus. Aliquam id scelerisque erat. Sed in dignissim sapien, at facilisis orci. Suspendisse potenti. Sed quis metus id nulla porta rhoncus.

          Nam nec neque eget ligula placerat mollis. Cras sollicitudin ante eros, et congue velit gravida tincidunt. Proin lobortis porttitor elit, sit amet mattis nisi. Maecenas non sapien egestas, vulputate tortor nec, hendrerit sapien. Proin consectetur, libero eu placerat laoreet, augue nulla egestas nisl, vel condimentum est ligula ac quam. Integer eu lectus cursus turpis hendrerit vehicula. Nulla imperdiet elit arcu, vitae hendrerit justo vehicula non. Integer imperdiet nisi diam, at vehicula nibh mollis sed. Nam eleifend facilisis posuere. Proin commodo justo massa, id bibendum velit facilisis ac. In pharetra nunc ac dictum suscipit. Sed nec interdum quam.
        </p>
      </div>
    </div>
  </ng-container>
  <ng-template #listTableView>
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Tipo de Sala</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let classType of classTypes" routerLink="{{classType.id}}">
          <td>{{ classType.id }}</td>
          <td>{{ classType.name }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>



