<div class="component-container">
  <app-home-toolbar
    [actionNew]="true"
    [filter]="true"
    [changeViewOptions] = "true"
    [title]="title"
    [secondPhrase]="'Colaborador'"
    [firstPhrase]="'9 encontrado(s)'"
  >
  </app-home-toolbar>
  <ng-container *ngIf="!listView; else listTableView">
    <div class="grid-view" fxLayout="column">
      <div class="fill"></div>
      <div class="content" fxLayout="row wrap">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <li>information 1</li>
            <li>information 1</li>
            <li>information 1</li>
            <li>information 1</li>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Editar</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ng-container>
  <ng-template #listTableView>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>coluna1</th>
          <th>coluna2</th>
          <th>coluna3</th>
          <th>coluna4</th>
        </tr>
      </thead>
      <tbody>
        <tr routerLink="1">
          <td>1</td>
          <td>clicar aqui</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
        </tr>
        <tr routerLink="2">
          <td>1</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
        </tr>
        <tr routerLink="3">
          <td>1</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
        </tr>
        <tr>
          <td>1</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
        </tr>
        <tr>
          <td>1</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
        </tr>
        <tr>
          <td>1</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
        </tr>
        <tr>
          <td>1</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
        </tr>
        <tr>
          <td>1</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
        </tr>
        <tr>
          <td>1</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
        </tr>
        <tr>
          <td>1</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
        </tr>
        <tr>
          <td>1</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
        </tr>
        <tr>
          <td>1</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
        </tr>
        <tr>
          <td>1</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
        </tr>
        <tr>
          <td>1</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
        </tr>
        <tr>
          <td>1</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
          <td>ipsum</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>

