<form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="24px">
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input formControlName="name" matInput placeholder="nome completo">
    <mat-icon matSuffix fontIcon="boy"></mat-icon>
  </mat-form-field>

  <div class="container" fxLayout.lt-md="column" fxLayout.gt-sm="row" fxLayoutGap="24px">
    <mat-form-field appearance="outline" fxFlex.lt-md="100%" fxFlex.gt-sm="50%" fxLayout="row">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="person_category_id">
        <mat-option [value]="0">Selecione uma categoria</mat-option>
        <mat-option [value]="1">Professores</mat-option>
        <mat-option [value]="2">Alunos</mat-option>
        <mat-option [value]="3">Responsáveis</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex.lt-md="100%" fxFlex.gt-sm="50%" fxLayout="row">
      <mat-label>Gênero</mat-label>
      <mat-select formControlName="gender_id">
        <mat-option [value]="0">Selecione um gênero</mat-option>
        <mat-option [value]="1">Feminino</mat-option>
        <mat-option [value]="2">Masculino</mat-option>
        <mat-option [value]="3">Outro</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="container" fxLayout.lt-md="column" fxLayout.gt-sm="row" fxLayoutGap="24px">
    <mat-form-field appearance="outline" fxFlex.lt-md="100%" fxFlex.gt-sm="50%" fxLayout="row">
      <mat-label>Rg</mat-label>
      <input formControlName="rg" matInput placeholder="registro geral">
      <mat-icon matSuffix fontIcon="boy"></mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex.lt-md="100%" fxFlex.gt-sm="50%" fxLayout="row">
      <mat-label>Cpf</mat-label>
      <input formControlName="cpf" matInput placeholder="cadastro de pessoa física">
      <mat-icon matSuffix fontIcon="boy"></mat-icon>
    </mat-form-field>
  </div>

  <div class="container" formGroupName="phone" fxLayout.lt-md="column" fxLayout.gt-sm="row" fxLayoutGap="24px">
    <mat-form-field appearance="outline" fxFlex.lt-md="100%" fxFlex.gt-sm="50%" fxLayout="row">
      <mat-label>Telefone1</mat-label>
      <input formControlName="phone1" matInput placeholder="primeiro número">
      <mat-icon matSuffix fontIcon="phone"></mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex.lt-md="100%" fxFlex.gt-sm="50%" fxLayout="row">
      <mat-label>Telefone2</mat-label>
      <input formControlName="phone2" matInput placeholder="segundo número">
      <mat-icon matSuffix fontIcon="phone"></mat-icon>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="32px">
    <button type="button" color="accent" mat-button (click)="askForDelete()">
      <mat-icon fontIcon="delete_forever"></mat-icon>
      <span>Excluir</span>
    </button>
    <button type="submit" [disabled]="!form.valid" mat-flat-button color="primary">
      <mat-icon fontIcon="save"></mat-icon>
      <span>Salvar</span>
    </button>
  </div>
</form>
