<form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="24px">
  <div class="input-group first" fxLayout="row wrap" fxLayoutGap="16px">
    <label class="group-title" for="name">Nome completo</label>
    <input id="name" formControlName="name" type="text" placeholder="João da Silva">
  </div>
  <div class="input-group" fxLayout="column">
    <label class="group-title" for="person_category_id">Categoria</label>
    <select id="person_category_id" [value]=0 formControlName="person_category_id">
      <option [value]=0>Selecione uma categoria</option>
      <option [value]=1>Professores</option>
      <option [value]=2>Alunos</option>
      <option [value]=3>Responsáveis</option>
    </select>
  </div>
  <div fxLayout.lt-md="column" fxLayout.gt-sm="row" fxLayoutGap="16px">
    <div fxFlex.lt-md="100%" fxFlex.gt-sm="50%" fxLayout="row" class="input-group" >
      <label class="group-title" for="rg">Rg</label>
      <input id="rg" formControlName="rg" type="text" placeholder="2022222214">
    </div>
    <div fxFlex.lt-md="100%" fxFlex.gt-sm="50%" fxLayout="row" class="input-group" >
      <label for="cpf" class="group-title">Cpf</label>
      <input id="cpf" formControlName="cpf" type="text" placeholder="33333333333">
    </div>
  </div>
  <div class="input-group" fxLayout="column">
    <label class="group-title" for="gender_id">Gênero</label>
    <select id="gender_id" [value]="0" formControlName="gender_id">
      <option value="0">Selecione um gênero</option>
      <option value="1">Feminimo</option>
      <option value="2">Masculino</option>
      <option value="3">Outro</option>
    </select>
  </div>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="32px">
    <button color="accent" mat-button>
      <mat-icon fontIcon="delete_forever"></mat-icon>
      <span>Excluir</span>
    </button>
    <button type="submit" [disabled]="!form.valid" mat-flat-button color="primary">
      <mat-icon fontIcon="save"></mat-icon>
      <span>Salvar</span>
    </button>
  </div>
</form>
