<div class="component-container">
  <div class="my-toolbar" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
    <div class="sec-title" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon fontIcon="add"></mat-icon>
      <h1>Nova Sala</h1>
    </div>
    <span class="circle"></span>
    <span class="quantity">cadastre uma nova sala.</span>
    <div fxFlex></div>
    <button class="stylized-btn" routerLink="..">
      <mat-icon fontIcon="arrow_back"></mat-icon>
      <span>Voltar</span>
    </button>
  </div>
</div>
