<div class="my-toolbar" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
  <h1>{{ title }}</h1>
  <span class="circle"></span>
  <span class="quantity">{{ firstPhrase }}</span>
  <div fxFlex></div>
  <div fxLayout="row" fxLayoutGap="16px">
    <div *ngIf="changeViewOptions">
      <button matTooltip="mudar exibição" *ngIf="control" (click)="changeView()" mat-button>
        <mat-icon fontIcon="grid_view"></mat-icon>
        <span>Grid</span>
      </button>
      <button matTooltip="mudar exibição" *ngIf="!control" (click)="changeView()" mat-button>
        <mat-icon fontIcon="list"></mat-icon>
        <span>Lista</span>
      </button>
    </div>
    <button *ngIf="filter" mat-button>
      <mat-icon fontIcon="filter_list"></mat-icon>
      <span>Filtrar</span>
    </button>
    <button *ngIf="backButton" (click)="goBack(backLevels)" mat-button>
      <mat-icon fontIcon="arrow_back"></mat-icon>
      <span>Voltar</span>
    </button>
    <button *ngIf="actionEdit" (click)="goEdit()" mat-button>
      <mat-icon fontIcon="edit_note"></mat-icon>
      <span>Editar</span>
    </button>
    <button *ngIf="actionNew" matTooltip="adicionar novo(a)" (click)="navigateToNew()" mat-flat-button color="primary">
      <mat-icon fontIcon="add"></mat-icon>
      <span>Novo</span>
    </button>
  </div>
</div>
