div.new-view {
  form {
    position: relative;
    top: 16px;
    div.input-container {
      position: relative;
      label {
        position: absolute;
        top: -12px;
        left: 16px;
        background-color: #fff;
        padding: 2px 8px;
        font-size: 16px;
        color: rgb(12, 34, 72);
      }
      input {
        border: 1px solid #cecece;
        border-radius: 6px;
        background-color: #ffffff;
        font-size: 1rem;
        padding: 16px 12px 12px 12px;
        letter-spacing: 1.5px;
        font-weight: lighter;
      }
    }
  }
}
