<app-new-toolbar title="Novo professor" phrase="cadastre um novo professor"></app-new-toolbar>
<div class="new-view" fxLayout="column">
  <div class="fill"></div>
  <section class="content">
    <form>
<!--      TODO: faz mais sentido colocar um combobox já filtrando pela categoria professor, e aqui realizar o vinculo entre teacher, disciplinas, salas, etc...-->
<!--      TODO: criar um PIPE para formatar o CPF-->
<!--      <div fxLayout="column" fxLayoutGap="32px">-->
<!--        <div class="input-container">-->
<!--          <label for="firstName">firstName</label>-->
<!--          <input id="firstName" name="firstName" type="text">-->
<!--        </div>-->
<!--        <div class="input-container">-->
<!--          <label for="middleName">middleName</label>-->
<!--          <input id="middleName" name="middleName" type="text">-->
<!--        </div>-->
<!--        <div class="input-container">-->
<!--          <label for="lastName">lastName</label>-->
<!--          <input id="lastName" name="lastName" type="text">-->
<!--        </div>-->
<!--        <div class="input-container">-->
<!--          <label for="cpf">cpf</label>-->
<!--          <input id="cpf" name="cpf" type="text">-->
<!--        </div>-->
<!--        <div class="input-container">-->
<!--          <label for="rg">rg</label>-->
<!--          <input id="rg" name="rg" type="text">-->
<!--        </div>-->
<!--      </div>-->
    </form>
  </section>
</div>
