mat-toolbar {
  display: flex;
  gap: 8px;
  border-radius: 4px;
  background-color: #f2f2f2;

  h2 {
    padding: 0 16px;
  }

  div.search-box-container {
    position: relative;
    padding: 0 16px;

    mat-icon[fontIcon="cancel"] {
      cursor: pointer;
      position: absolute;
      top: 8px;
      right: 32px;
    }

    input {
      width: 100%;
      border: none;
      border-radius: 4px;
      font-style: italic;
      height: 2.5rem;
      font-size: 1.1em;
      padding: 0 48px 0 16px;
      letter-spacing: 1.5px;
      font-weight: lighter;
    }
  }

  div.school-year-selector {
    select {
      font-size: 22px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      font-weight: bold;
      color: #fff;
      padding: 0 16px;

      option {
        color: #3a3a3a;
        font-size: 16px;
        font-weight: normal;
      }
    }
  }
}

mat-sidenav-container {

  mat-sidenav {
    border-radius: 4px;
    width: 220px;

    mat-list-item {
      height: 48px!important;
    }

    mat-list {

      &.mat-list-base {
        padding-right: 16px;
      }

      .mat-subheader {
        height: 32px;
        font-size: 12px;
        color: #b2b2b2;
        padding: 8px 8px 8px 0;
      }

      .list-item-container {
        cursor: pointer;
        color: #444;
        padding-left: 8px;
        mat-icon {
          font-size: 22px;
          z-index: 999;
        }
        &:hover, &.active {
          border-radius: 4px;
          background-color: #f2f2f2;
        }
        &.active {
          color: #3f51b5;
          mat-list-item {
            color: inherit;
          }
        }
      }
    }
  }

  mat-sidenav-content {
    height: calc(100vh - 128px);
    background-color: #fff;
    padding: 0 16px 16px 16px;
  }
}
