mat-toolbar {
  border-radius: 6px;
  background-color: #f2f2f2;

  div.search-box-container {
    position: relative;
    width: 100%;
    mat-icon[fontIcon="search"] {
      position: absolute;
      top: 8px;
      left: 16px;
    }

    mat-icon[fontIcon="cancel"] {
      cursor: pointer;
      position: absolute;
      top: 8px;
      right: 16px;
      color: rgba(0, 0, 0, 0.36);
      &:hover {
        color: rgba(0, 0, 0, 0.49);
      }
    }

    input {
      width: calc(100% - 96px);
      border: none;
      border-radius: 25px;
      background-color: #d7d7d7;
      font-style: italic;
      height: 2.5rem;
      font-size: 1.1em;
      padding: 0 48px 0 48px;
      letter-spacing: 1.5px;
      font-weight: lighter;
    }
  }

  div.school-year-selector {
    select {
      font-size: 22px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: #156AFB;
      font-weight: bold;

      option {
        color: #3a3a3a;
        font-size: 16px;
        font-weight: normal;
      }
    }
  }

  div.profile-box-container {
    span {
      font-size: 14px;
    }
    span:nth-of-type(1) {
      font-style: italic;
      font-size: 14px;
      font-weight: lighter;
    }
  }
}

mat-sidenav-container {
  background-color: transparent;
}

mat-sidenav-container mat-sidenav {
  background-color: #f2f2f2;
  border-radius: 6px;
  width: 250px;
  &.mat-drawer-side {
    border: none;
  }

  mat-list {
    border-radius: 6px;

    &.mat-list-base {
      padding: 16px;
    }

    div.mat-subheader {
      height: 40px;
      padding: 8px;
      padding-left: 0;
    }

    div.list-item-container {
      cursor: pointer;
      mat-icon {
        font-size: 20px;
      }
      mat-list-item {
        font-weight: 500;
      }
      &:hover, &.active {
        mat-list-item {
          color: #1976d2;
        }
        background-color: #E9ECF2;
        color: #1976d2;
        text-shadow: 0 0 5px #FFFFFF;
        border-radius: 5px;
      }
    }
  }
}

mat-sidenav-container mat-sidenav-content {
  height: calc(100vh - 128px);
  background-color: #fff;
  padding: 0 16px 16px 16px;
}
