<app-home-toolbar
  [backButton]="true"
  [title]="'Contratos'"
  [firstPhrase]="'exibindo todos os contratos deste colaborador'"
  [backLevels]="2"
  [actionEdit]="true"
>
</app-home-toolbar>
<table>
  <thead>
  <tr>
    <th>Contrato</th>
    <th>Sede</th>
    <th>Iniciado em</th>
    <th>Terminado em</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contract of person_contracts">
    <td>{{contract.contract_id}}</td>
    <td>{{contract.school_id_headquarter}}</td>
    <td>{{contract.started_at}}</td>
    <td *ngIf="!contract.ended_at; else elseBlock">Em andamento</td>
    <ng-template #elseBlock>
      <td>{{contract.ended_at}}</td>
    </ng-template>
  </tr>
  </tbody>
</table>
