<app-home-toolbar
  [backButton]="true"
  [title]="'Registrar notas'"
  [firstPhrase]="'atribua uma nota para cada aluno'"
  [backLevels]="2"
  [actionEdit]="true"
>
</app-home-toolbar>
<table>
  <thead>
  <tr>
    <th>No. Chamada</th>
    <th>Aluno</th>
    <th>Nota</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>ipsum</td>
    <td>
      <input type="text">
    </td>
  </tr>
  <tr>
    <td>2</td>
    <td>ipsum</td>
    <td>
      <input type="text">
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>ipsum</td>
    <td>
      <input type="text">
    </td>
  </tr>
  <tr>
    <td>4</td>
    <td>ipsum</td>
    <td>
      <input type="text">
    </td>
  </tr>
  <tr>
    <td>5</td>
    <td>ipsum</td>
    <td>
      <input type="text">
    </td>
  </tr>
  <tr>
    <td>4</td>
    <td>ipsum</td>
    <td>
      <input type="text">
    </td>
  </tr>
  <tr>
    <td>7</td>
    <td>ipsum</td>
    <td>
      <input type="text">
    </td>
  </tr>
  </tbody>
</table>
