<form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="24px">

  <div class="container" fxLayout.lt-md="column" fxLayout.gt-sm="row" fxLayoutGap="24px">

    <mat-form-field appearance="outline" fxFlex.lt-md="100%" fxFlex.gt-sm="20%" fxLayout="row">
      <mat-label>Ano</mat-label>
      <input formControlName="year" matInput placeholder="ano" maxlength="4">
      <mat-icon matSuffix fontIcon="edit"></mat-icon>
      <mat-hint>Informe apenas números</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex.lt-md="100%" fxFlex.gt-sm="40%" fxLayout="row">
      <mat-label>Data Início</mat-label>
      <input matInput [matDatepicker]="startPicker" formControlName="start">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex.lt-md="100%" fxFlex.gt-sm="40%" fxLayout="row">
      <mat-label>Data Fim</mat-label>
      <input matInput [matDatepicker]="endPicker" formControlName="end">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

  </div>

  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="32px">

    <button type="button" color="accent" mat-button (click)="askForDelete()">
      <mat-icon fontIcon="delete_forever"></mat-icon>
      <span>Excluir</span>
    </button>

    <button type="submit" [disabled]="!form.valid" mat-flat-button color="primary">
      <mat-icon fontIcon="save"></mat-icon>
      <span>Salvar</span>
    </button>
  </div>

</form>
