// @use '@angular/material' as mat;
// @import '@angular/material/theming';
// @include mat.core();

// @import 'variables';

$toolbar-height: 40px;
$margin-top: 14px;
$pool-blue: #1f6cff;

html, body {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

body, input {
  font-family: 'Roboto', 'Helvetica Neue', monospace, sans-serif;
}

select option {
  color: #3a3a3a;
  font-size: 16px;
  background-color: #f5f5f5;
}

h1 {
  color: $pool-blue;
}

h1, h2, h3, p {
  margin-bottom: 0!important;
}

button {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 8px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  padding: 8px 12px;
  color: #0B1F42;
  span {
    font-size: 14px;
    font-weight: lighter;
  }
  mat-icon.material-icons {
    //apenas salvado o seletor
  }
  &.generic-btn{
    background: #f6f6f6;

    &:hover {
      background: #e7e7e7;
    }
  }
  &.stylized-btn{
    color: #fff;
    background: $pool-blue;

    &:hover {
      background: rgb(0, 92, 255);
    }
  }
}

div.my-toolbar {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
  div.sec-title {
    mat-icon {
      color: $pool-blue;
    }
  }
  span {
    position: relative;
    top: 2px;
    &.circle {
      height: 10px;
      min-width: 10px;
      background-color: $pool-blue;
      border-radius: 50%;
      display: inline-block;
    }
    &.quantity {
      font-size: 14px;
      font-weight: lighter;
    }
  }
}

div.fill {
  height: $margin-top;
  background-color: #fff;
  position: sticky;
  top: $toolbar-height;
  border-bottom: 1px solid #cecece;
  z-index: 1;
}

div.new-view, div.edit-view {
  form {
    padding: 0 10vw;
    position: relative;
    top: 48px;

    &.half-size {
      padding: 0 20vw;
    }

    div.input-group {

      border-radius: 6px;
      border: 1px solid rgba(11, 31, 66, 0.22);
      position: relative;
      padding: 24px 16px 8px 16px;

      &.first {
        input[type='text'], select {
          color: #156AFB;
          font-size: 22px;
          &::placeholder {
            color: #3a3a3a;
          }
        }
      }

      label.group-title{
        position: absolute;
        top: -12px;
        left: 16px;
        background-color: #fff;
        padding: 2px 8px;
        font-size: 16px;
        color: rgba(0,0,0,.54);
      }

      input[type="text"] {
        border-bottom: 1px solid #cecece;
      }

      input[type="radio"], input[type="checkbox"], .pointer {
        cursor: pointer;
      }

      input[type="checkbox"] {
        width: 16px;
        height: 16px;
      }

      input, select {
        border: none;
        font-size: 16px;
        color: #3a3a3a;
        width: 100%;
        background-color: #ffffff;
      }
    }

    button.stylized-btn {
      width: 150px;
    }
  }
}

table {
  border-collapse: collapse;
  position: relative;
  width: 100%;

  thead {
    background-color: #fff;
    position: sticky;
    top: $toolbar-height;
    z-index: 999;

    tr:nth-of-type(1) {
      margin-top: $margin-top;
      background-color: #E9ECF2;
      border-radius: 6px;
      position: relative;
      display: flex;
      font-size: 14px;
      line-height: 46px;
      color: #0B1F42;
      border: 1px solid rgba(12, 34, 72, 0.05);
      th {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        &:not(:last-child) {
          border-right: 1px solid rgba(12, 34, 72, 0.05);
        }
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;
      display: flex;
      align-items: center;
      line-height: 46px;
      transition: .5s;
      border: 1px solid #eee;
      border-top: none;
      border-radius: 6px;
      &:hover {
        background-color: #f2f2f2;
        transition: .2s;
      }
      td {
        color: #3a3a3a;
        display: flex;
        width: 100%;
        &:not(:last-child) {
          border-right: 1px solid #eeeeee;
        }
        &:last-child {
          color: $pool-blue;
          mat-icon {
            cursor: pointer;
            scale: 1.2;
          }
        }
      }
    }
  }
}

:focus {
  outline: none;
}

*::-webkit-scrollbar {
  height: 0.2em;
  width: 0.2em;
}

*::-webkit-scrollbar-thumb {
  outline: none;
}
