$toolbar-height: 40px;
$margin-top: 14px;
$pool-blue: #3f51b5;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  padding: 16px;
}

body, input {
  font-family: 'Roboto', 'Helvetica Neue', monospace, sans-serif;
}

select option {
  color: #3a3a3a;
  font-size: 16px;
  background-color: #f5f5f5;
}

h1 {
  color: #444;
}

h1, h2, h3, p {
  margin-bottom: 0!important;
}

.mat-button-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: lighter;
}

div.my-toolbar {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
  height: 40px;
  div.sec-title {
    mat-icon {
      color: $pool-blue;
    }
  }
  span {
    position: relative;

    &.circle {
      top: 2px;
      height: 7px;
      min-width: 7px;
      background-color: #444;
      border-radius: 50%;
      display: inline-block;
    }
    &.quantity {
      top: 2px;
      font-size: 14px;
      font-weight: lighter;
    }
  }
}

div.fill {
  height: $margin-top;
  background-color: #fff;
  position: sticky;
  top: $toolbar-height;
  border-bottom: 2px solid #cecece;
  z-index: 1;
}

div.new-view, div.edit-view {
  form {
    padding: 0 10vw;
    position: relative;
    top: 48px;

    &.half-size {
      padding: 0 20vw;
    }

    div.input-group {
      border-radius: 4px;
      border: 1px solid #cecece;
      position: relative;
      padding: 24px 16px 8px 16px;

      label.group-title{
        position: absolute;
        top: -12px;
        left: 16px;
        padding: 4px 8px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: 1.2px;
        border-radius: 4px;
        border: 1px solid #cecece;
        color: #444;
        background-color: #f2f2f2;
      }

      input[type="text"], input.mat-chip-input {
        border-bottom: 1px solid #cecece;
      }

      input[type="radio"], input[type="checkbox"], .pointer {
        cursor: pointer;
      }

      input[type="checkbox"] {
        width: 16px;
        height: 16px;
      }

      input, select {
        border: none;
        font-size: 16px;
        color: #3a3a3a;
        width: 100%;
        background-color: #ffffff;
      }
    }

    mat-chip-list {
      div.mat-chip-list-wrapper {
        display: flex;
        flex-direction: column;
        input.mat-chip-input {
          padding: 8px 0 0 0;
          flex: 1;
          width: 98%;
        }
        div.chips {
          display: flex;
          width: 100%;
          margin-top: 8px;
          mat-chip {
            margin-left: 4px;
            margin-bottom: 8px;
            background-color: #d7d7d7;
            letter-spacing: 1.5px;
            font-style: italic;
            font-weight: lighter;
          }
        }
      }
    }
  }
}

table {
  border-collapse: collapse;
  position: relative;
  width: 100%;

  thead {
    background-color: #fff;
    position: sticky;
    top: $toolbar-height;
    z-index: 999;

    tr:nth-of-type(1) {
      margin-top: $margin-top;
      background-color: #444;
      position: relative;
      display: flex;
      font-size: 12px;
      line-height: 32px;
      color: #fff;
      border-radius: 4px;

      th {
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: lighter;
        letter-spacing: 1.2px;
        width: 100%;
        &:not(:last-child) {
          border-right: 1px solid rgba(12, 34, 72, 0.05);
        }
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;
      display: flex;
      align-items: center;
      //line-height: 38px;
      transition: .5s;
      border: 1px solid #eee;
      border-top: none;
      border-radius: 4px;
      &:hover {
        background-color: #f2f2f2;
        transition: .2s;
      }
      td {
        padding: 8px;
        color: #3a3a3a;
        display: flex;
        width: 100%;
        font-size: 12px;
        &:not(:last-child) {
          border-right: 1px solid #eeeeee;
        }
        &:last-child mat-icon {
          color: $pool-blue;
          cursor: pointer;
          scale: 1.2;
        }
      }
    }
  }
}

:focus {
  outline: none;
}

*::-webkit-scrollbar {
  height: 0.2em;
  width: 0.2em;
}

*::-webkit-scrollbar-thumb {
  outline: none;
}
